.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 200px;
}
body {
  background: linear-gradient(rgb(68, 76, 222), rgb(8, 8, 59));
}
h1 {
  color: rgb(255, 255, 255);
  font-size: 35px;
  text-align: center;
}
